html, body {
    margin: 0;
    padding: 0;
    height: 100%;

}

main {
    padding: 16px;
}

footer {
    padding: 24px 0;
    background-color: rgb(152, 197, 63);
    font-size: 2rem;

}

img {
    height: 200px;
    box-shadow: 3px 3px olive, -1em 0 .4em olive;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four equal columns */
    grid-gap: 20px; /* Gap between grid items */
}

a {
    color: green;
    text-decoration: none;
}


header {
    background-color: orangered;
}

.white-text {
    color: white;

}

h1 {
    color: green;
}

.table-grey tr:nth-child(even) {
    background-color: lightgrey; /* Change background color of every even row */
}
